*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    width: 1024px;
    margin: 20px auto;

}

.header-top{
    height: 45px;
    background: #162028;
    position: relative;
}

.logotipo{
    margin: 6px 0 0 160px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
    .header-nav li{
        list-style: none;
        display: inline-block;
        margin-inline-start: -10px;
        margin-right: 20px;
        margin-top: 4px;
        padding: 12px;
    }

    .header-nav a{
        text-decoration: none;
        text-transform: uppercase;
        color: #425564;
        font-size: 11px;
        letter-spacing: 4px; 
    }
    .header-nav a:hover{
        color: #7293ad;
    }

.portfolio{
    padding: 80px 100px;
    text-align: center;
}

    .portfolio h1{
        font-size: 32px;
        text-transform: uppercase;
        color: #555;
    }

    .portfolio p{
        padding-top: 15px;
        font-size: 16px;
        line-height: 2;
        color: #555;
    }

.gallery{
    display: flex;
    color: #555;
    padding: 0 90px 70px 90px;
    justify-content: space-around;
}

.gallery-card{
    width: 32%;
    text-align: center;
    padding: 10px;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 13px;
    color: #555;
    padding-top: 5px;
}

.gallery-text{
    color: rgb(129, 129, 129);
    font-size: 13px;
    padding-top: 5px;
}

.about{
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(./imagens/bg_detalhe.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

    .about h1{
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 0 30px 0;
        font-size: 32px;
        letter-spacing: 4px;
        line-height: 1.2;
    }

    .about p{
        line-height: 1.5;
        width: 80%;
        font-weight: 500;
    }

#contact{
    margin: 50px 0;  
}

    #contact address{
        color: #143f52;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }

.maps{
    width: 100%;
    height: 450px;
    margin-top: 50px;
}
    .maps iframe{
        width: 100%;
    }
    

.footer{
    background: #162028;
    text-align: center;
    color: #6f8597;
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 11px;
    padding: 20px 0 20px 0;
    
}